body {
    font-family: Roboto;
    margin: 0px;
    border-left-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    color: #F9FAF8;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

.splash-header {
    margin: 100px;
    display: flex;
    gap: 28px;
}

.splash-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.splash-header-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8; 
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px;
}

.main-title-text {
    font-size: 18px;
    color: #E5E7EB;

}

.splash-header > img {
    max-width: 500px;
}

.subtext-description > img {
    width: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 8px 100px;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin:0;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.img-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px 100px;
    justify-content: center;
}

.img-containers > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 52px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.img-containers > ul > li {
    max-width: 100px;
    text-align: center;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
}

.quote > .quote-text {
    margin: 100px;
}

.call-to-action {
    background-color: #3882F6;
    margin: 100px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    padding: 50px 75px;
    justify-content: space-between;
}

h3 {
    color: #F9FAF8;
    margin: 0px;
    font-weight: bold;
}

p {
    color: #F9FAF8;
    margin: 0px;
}

.sign-up > button {
    border-color: #F9FAF8;
    border: solid;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    padding: 25px 0px;
}